body {
  background-color: #000;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#left {
  width: 40%;
  text-align: center;
}
#right {
  text-align: center;
  width: 55%;
  display: block;
}
h1 {
  color: whitesmoke;
  font-size: 1.5em;
}
#sprites,
#map {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
canvas {
  margin: 1px;
  opacity: 0.5;
  border: 1px dotted whitesmoke;
}
.mapElem {
  opacity: 1;
}
.mapElem:hover {
  border-color: red;
}
.mapElem:focus {
  border-color: red;
}
canvas:hover {
  opacity: 1;
}
div {
  margin: 0;
}
#fileInput {
  display: none;
}
#contextMenu {
  display: none;
  position: absolute;
  flex-direction: column;
  background-color: #1c1b22;
  width: 15%;
  color: whitesmoke;
  border-radius: 8px;
  cursor: default;
}

#contextMenu > div {
  border-top: 0.2px;
  padding: 5px;
  padding-left: 10px;
  margin-left: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

#contextMenu > div:hover {
  background-color: #2b2a33;
}
p {
  margin: 0;
  font-size: 1em;
}
p.shortcut {
  font-size: 0.8rem;
  opacity: 0.5;
}
